:root {
    --black1: rgba(33, 32, 30);
    --black2: rgb(0,0,0);
    --white1: rgb(243,243,243);
    --gold: rgb(166,114,69);
    --font1: 'Lato';
    --font2: 'Playfair Display';
    --font3: 'Roboto';
}
@font-face {
    font-family:'Lato' ;
    src: url(./font/Lato-Regular.ttf);
}
@font-face {
    font-family:'Playfair Display' ;
    src: url(./font/PlayfairDisplay-Regular.ttf);
}
@font-face {
    font-family:'Roboto' ;
    src: url(./font/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html {
    scroll-behavior: smooth;
}
input:focus, select:focus{
    outline:none;
}
header {
    color: var(--white1);
    min-height: 100vh;
    background: url(./img/img\ couverture.jpg) fixed center/cover;
}


header nav {
    display: flex;
    justify-content: space-between;
    background: var(--black1);
    color: var(--white1);
    width: 100%;
    height: 65px;
    align-items: center;
    font-family: var(--font1);
    
  }
#icons {
    cursor: pointer;
    display: none;
    padding-left: 15px;
}
header nav img {
    width: 60%;
    padding-left: 5%;
}
header nav ul {
    width: 55%;
    justify-content: space-around;
    display: flex;
}
li {
    list-style-type: none;
}
header nav a {
    color: var(--white1);
    text-decoration: none;
}
header nav a:hover{
    color: var(--gold);
}
header nav .socialmedia {
    display: flex;
}
header nav .socialmedia li {
    padding: 0 10px;
}

header nav .nav-right li {
    transition: 0.15s;
    
  }
header nav .nav-right li:hover {
    cursor: pointer;
}
.search-barre {
    display: flex;
    position: absolute;
    top: 10%;
    right: 10%;
}
#search {
    text-align: center;
    border: none;
    background: rgba(207, 203, 203, 0.445);
    height: 50px;  
    width: 280px;
    border-radius: 10px;
    color: var(--white1);
}
.search-barre button {
    background: rgba(207, 203, 203, 0.445);
    height: 50px;  
    width: 50px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    color: var(--white1);
}
.search-barre button:hover{
    background: var(--white1);
    color: var(--black2);
}
#search::placeholder{
    color: var(--white1);
}
#search:focus{
    border-bottom: 3px solid var(--white1);
    
}
header .header-content {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    transform: translateY(40px);
    animation: headerAnim 1.5s forwards;
  }
  @keyframes headerAnim {
    to {
      transform: translateY(0);
    }
}
header .header-content h1 {
    font-family: var(--font2);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    letter-spacing: 4px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
}
header .header-content p {
    margin: 40px auto 60px;
    font-style: italic;
    text-align: center;
    color: var(--white1);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
}
header .header-content span {
    border: 2px solid var(--white1);
    border-radius: 50px;
    height: 60px;
    width: 60px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .header-content span a {
    color: var(--white1);
}
header .header-content span a:hover {
    color: var(--gold);
}

#section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */
    padding: 40px 0;
}
.section1-container{
    max-width: 1200px;
    /* border: 3px solid green; */
}
#section1 h1 {
    font-family:var(--font2) ;
    font-size: 3.5em;
    padding-bottom: 40px;

}
#section1 h4 {
    font-size: 1.8em;
    padding-bottom: 20px;
    font-family: var(--font1);
    font-weight: 300;
}
article {
    padding: 40px 0;
}
.first-article {
    display: grid;
    grid-template-columns: 40% 60%;
}
.first-article img {
    width: 100%;
}
#section1 figcaption{
    display: flex;
    justify-content: center;
}

#section1 h3 {
    font-size: 2.5em;
    padding-bottom: 50px;
    font-family: var(--font3);
}

.text-article1, .text-article2{
    text-align: justify;
    font-family: var(--font1);
    padding: 20px;
}
.second-article {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 20px;
}

#section2 {
    /* border: 3px solid green; */
    background-color: var(--black1);
    padding-bottom: 100px;
    position: relative;
}

#section2 h1{
    text-align: center;
    color: var(--white1);
    font-size: 3.5rem;
    padding: 25px 0;
    position: relative;
    font-family: var(--font2);
}
#section2 h1::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 1px;
    background-color: var(--white1);
    top: 50%;
    
}
#section2 h1::before{
    content: "";
    position: absolute;
    width: 30%;
    height: 1px;
    background-color: var(--white1);
    top: 50%;
    transform: translateX(-100%);
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.row1-img{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin: 0 auto 50px;
    position: relative;
    
}
.row1-img::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--white1);
    bottom: -6%;
    
}
.row2-img{
    display: flex;
    flex-wrap: wrap;
    /* border:  3px dotted red; */
    gap: 50px;
    margin: 0 auto;
    position: relative;
}
.row2-img::after{
    content: "";
    position: absolute;
    width: 30%;
    height: 1px;
    background-color: var(--white1);
    bottom: -10%;
    left: 35%;
}
#section2 .card{
    height: 400px;
    width: 320px;
}
#section2 #base-jump {
    background-image: url(./img/base\ jump\ pack.jpg);
    background-size: cover;
    background-position: 70%;
}
#section2 #parapente {
    background-image: url(./img/Parapente02.jpg);
    background-size: cover;
}
#section2 #saut-elastique {
    background-image: url(./img/saut\ élastique.jpg);
    background-size: cover;
    background-position: 50%;
}
#section2 #rafting {
    background-image: url(./img/rafting\ family.jpg);
    background-size: cover;
    background-position: 70%;
}
#section2 #escalade {
    background-image: url(./img/escalade.jpg);
    background-size: cover;
    background-position: 80%;
}
#section2 #vtt {
    background-image: url(./img/vtt\ descente.jpg);
    background-size: cover;
    background-position: 80%;
}
#section2 .info{
    height: 400px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white1);
    position: relative;
    background-color: #000000b9;
    opacity: 0;
    font-family: var(--font1);
}

#section2 .info:hover{
    opacity: 1;
    cursor: pointer;
}

/* CARTE SPORT */
/* ********Base-jump****** */
#section2 .carte-infos-basejump {
    position: absolute;
    max-width: 945px;
    height: 300px;
    border: solid 3px var(--gold);
    border-radius: 15px;
    background-color: var(--white1);
    opacity: 0;
    z-index: -1;
    font-family: var(--font1);
}
#section2 .carte-infos-basejump figure{
    display: flex;
    gap: 10px;
}
#section2 .carte-infos-basejump img {
    height: 200px;
}
/* ********Parapente****** */
#section2 .carte-infos-parapente {
    position: absolute;
    max-width: 945px;
    height: 300px;
    border: solid 3px var(--gold);
    border-radius: 15px;
    background-color: var(--white1);
    opacity: 0;
    z-index: -1;
    font-family: var(--font1);
}
#section2 .carte-infos-parapente figure{
    display: flex;
    gap: 10px;
}
#section2 .carte-infos-parapente img {
    height: 200px;
}

/* ********Saut à l'élastique****** */
#section2 .carte-infos-saut {
    position: absolute;
    max-width: 945px;
    height: 300px;
    border: solid 3px var(--gold);
    border-radius: 15px;
    background-color: var(--white1);
    opacity: 0;
    z-index: -1;
    font-family: var(--font1);
}
#section2 .carte-infos-saut figure{
    display: flex;
    gap: 10px;
}
#section2 .carte-infos-saut img {
    height: 200px;
}

/* ****************Rafting*************** */
#section2 .carte-infos-rafting {
    position: absolute;
    max-width: 945px;
    height: 300px;
    border: solid 3px var(--gold);
    border-radius: 15px;
    background-color: var(--white1);
    opacity: 0;
    z-index: -1;
    font-family: var(--font1);
}
#section2 .carte-infos-rafting figure{
    display: flex;
    gap: 10px;
}
#section2 .carte-infos-rafting img {
    height: 200px;
}

/* ***********Escalade************** */
#section2 .carte-infos-escalade {
    position: absolute;
    /* top: 0; */
    max-width: 945px;
    height: 300px;
    border: solid 3px var(--gold);
    border-radius: 15px;
    background-color: var(--white1);
    opacity: 0;
    z-index: -1;
    font-family: var(--font1);
}
#section2 .carte-infos-escalade figure{
    display: flex;
    gap: 10px;
}
#section2 .carte-infos-escalade img {
    height: 200px;
}

/* ************VTT*************** */
#section2 .carte-infos-vtt {
    position: absolute;
    max-width: 945px;
    height: 300px;
    border: solid 3px var(--gold);
    border-radius: 15px;
    background-color: var(--white1);
    opacity: 0;
    z-index: -1;
    font-family: var(--font1);
}
#section2 .carte-infos-vtt figure{
    display: flex;
    gap: 10px;
}
#section2 .carte-infos-vtt img {
    height: 200px;
}
#section2 .btn-carte {
    display: block;
    margin:0 auto;
    text-transform: uppercase;
    border: none;
    padding: 20px;
    background-color: var(--gold);
    color: var(--white1);
    border-radius: 50px; 
    cursor: pointer;
}
#section2 .btn-carte:hover{
    cursor: pointer;
    background-color: rgb(194, 128, 69);
}
#section2 a{
    text-decoration: none;
}
#section3 {
    padding-bottom: 115px;
}
#section3 h1{
    text-align: center;
    font-size: 3.5rem;
    padding: 25px 0;
    position: relative;
    font-family: var(--font2);
}
#section3 h1::before{
    content: "";
    position: absolute;
    height: 10px;
    width: 20px;
    left: 50%;
    color: var(--white1);
}
#section3 .logement-container {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 1200px;
    margin: 0 auto;
    border: 1px dashed var(--black1);
}

.caroussel {
    position: relative;
    height: 350px;
}
.caroussel .btn-caroussel {
    position: absolute;
    background: none;
    border: none;
    outline: none;
    font-size: 2.6rem;
    z-index: 2;
    cursor: pointer;
    color: rgb(246, 246, 246);
    transform: translateY(-50%);
    top: 50%;
}
#prev{
    left: 5px;
  }
#next {
    right: 5px;
}
.slide {
    position: absolute;
    opacity: 0;
    transition: 0.4s ease-in-out;
    /* border: 3px solid green; */
    width: 100%;
  }
  .slide.active {
    opacity: 1;
  }
  .slide img{
    width: 100%;
    height: 350px;
  }
  /* ----Caroussel n°2---- */
  .caroussel .btn-caroussel2{
    position: absolute;
    background: none;
    border: none;
    outline: none;
    font-size: 2.6rem;
    z-index: 2;
    cursor: pointer;
    color: rgb(246, 246, 246);
    transform: translateY(-50%);
    top: 50%;
}
  .slide2 {
    position: absolute;
    opacity: 0;
    transition: 0.4s ease-in-out;
    /* border: 3px solid green; */
    width: 100%;
  }
  .slide2.active2 {
    opacity: 1;
  }
  .slide2 img{
    width: 100%;
    height: 350px;
  }
#prev2{
    left: 5px;
  }
#next2 {
    right: 5px;
}

/* Caroussel N°3  */
.caroussel .btn-caroussel3 {
    position: absolute;
    background: none;
    border: none;
    outline: none;
    font-size: 2.6rem;
    z-index: 2;
    cursor: pointer;
    color: rgb(246, 246, 246);
    transform: translateY(-50%);
    top: 50%;
}
#prev3{
    left: 5px;
  }
#next3 {
    right: 5px;
}
.slide3 {
    position: absolute;
    opacity: 0;
    transition: 0.4s ease-in-out;
    /* border: 3px solid green; */
    width: 100%;
  }
  .slide3.active3 {
    opacity: 1;
  }
  .slide3 img{
    width: 100%;
    height: 350px;
  }

/* Caroussel n°4 */
.caroussel .btn-caroussel4 {
    position: absolute;
    background: none;
    border: none;
    outline: none;
    font-size: 2.6rem;
    z-index: 2;
    cursor: pointer;
    color: rgb(246, 246, 246);
    transform: translateY(-50%);
    top: 50%;
}
#prev4{
    left: 5px;
  }
#next4 {
    right: 5px;
}
.slide4 {
    position: absolute;
    opacity: 0;
    transition: 0.4s ease-in-out;
    /* border: 3px solid green; */
    width: 100%;
  }
  .slide4.active4 {
    opacity: 1;
  }
  .slide4 img{
    width: 100%;
    height: 350px;
  }

#section3  h4{
    font-family: var(--font3);
    text-align: center;
    background-color: var(--black2);
    color: var(--white1);
    text-transform: uppercase;
    font-size: 0.7rem;
    padding: 15px 0;
}
#section3 .text-logement p{
    font-family: var(--font1);
    padding: 15px 15px;
}
#section3 .text-logement a {
    text-decoration: none;
}
#section3 .text-logement button {
    display: block;
    margin: 40px auto 0;
    text-transform: uppercase;
    border: none;
    padding: 20px;
    background-color: var(--gold);
    color: var(--white1);
    border-radius: 50px;
}
#section3 .text-logement button:hover{
    cursor: pointer;
    background-color: rgb(194, 128, 69);
}
#section4{
    background-color: var(--black1);
    min-height: 900px;
}
#section4 h1{
    text-align: center;
    font-size: 3.5rem;
    padding: 25px 0;
    color: var(--white1);
    background: var(--black2);
    font-family: var(--font2);
}
#section4 .background-container{
    background: url(./img/kayak\ extrême.jpg) fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
    width: 65%;
    margin: 0 auto;
    position: relative;
}

#section4 .card-comment {
    background: var(--white1);
    padding: 20px;
    border: 1px solid var(--black2);
    max-width: 500px;
}
#section4 .card-comment p {
    text-align: justify;
    font-family: var(--font1);
}
#section4 .card-comment h6 {
    text-align: start;
    color: var(--gold);
}

#section4 #card1-comment{
    position: absolute;
    left: 0%;
    top: 5%;
    z-index: 2;
}
#section4 #card1-comment:before{
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background:url(./img/photo01.jpg\ copy.jpg) center/cover;
}
#section4 #card2-comment{
    position: absolute;
    right: 0%;
    top: 25%;
}
#section4 #card2-comment:before{
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background:url(./img/photo02.jpgcopy.jpg) center/cover;
}

#section4 #card3-comment{
    position: absolute;
    left: 0%;
    top: 45%;
}
#section4 #card3-comment:before{
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background:url(./img/photo03.jpgcopy.jpg) center/cover;
}


#section4 #card4-comment{
    position: absolute;
    right: 0%;
    top: 65%;
}
#section4 #card4-comment:before{
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background:url(./img/photo04.pngcopy.png) center/cover;
}
#section4 #card5-comment{
    position: absolute;
    left: 0%;
    top: 85%;
}
#section4 #card5-comment:before{
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background:url(./img/photo05.jpgcopy.jpg) center/cover;
}

#section5 .booking-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    background-color: var(--white1);
}
.booking-form-container{
    text-align: center;
}
.booking-form-container h2 {
    color: var(--black2);
    padding-bottom: 15px;
    font-family:var(--black2) ;
}
.booking-form-container h3 {
    color: var(--gold);
    font-family: var(--font3);
}
#section5 form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    
}
.first-row-form {
    padding-bottom: 30px;
}
.second-row-form{
    padding-bottom: 30px;
}
#section5 #personne, #booking-date, #booking-time, #name, #phone, #email {
    width: 32.5%;
    border: none;
    border-bottom: solid 1px var(--black1);
    background-color: var(--white1);
    color: var(--black1);
    text-align: center;
    font-family: var(--font1);
}
#select-sport{
    width: 100%;
    background-color: var(--white1);
    color: var(--black1);
    text-align: center;
    border: none;
    border-bottom: solid 1px var(--black1);
    font-family: var(--font1);
}
#section5 #btn-form{
    width: 33%;
    margin-top: 50px;
    text-transform: uppercase;
    border: none;
    padding: 20px;
    background-color: var(--gold);
    color: var(--white1);
    border-radius: 50px;
}
#section5 #btn-form:hover{
    cursor: pointer;
    background-color: rgb(194, 128, 69);
}
footer{
    background-color: var(--black1);
    color: var(--white1);
}
footer .footer-content {
    display: flex;
    /* align-items: center; */

    flex-wrap: wrap;
    width: 100%;
}
footer .case-footer{
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    margin: 50px auto 50px;
    padding: 0 20px;
    font-family: var(--font1);
}
footer .adresse-footer h3 {
    font-family: var(--font2);
    color: var(--gold);
}
footer .horaire-footer{
    padding: 20px;
}
.partenaire-case a {
    color: var(--white1);
    font-size: 0.9rem;
    text-decoration: none;
}
.partenaire-case a:hover{
    color: var(--gold);
}
footer .socialmedia{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .socialmedia li:hover {
    transform: scale(1.08);
    cursor: pointer;
    color: var(--gold);
}
.copyright {
    text-align: center;
    color: var(--gold);
    font-size: 0.6rem;
}