:root {
    --black1: rgba(33, 32, 30);
    --black2: rgb(0,0,0);
    --white1: rgb(243,243,243);
    --gold: rgb(166,114,69)

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    color: var(--white1);
    position: relative;
    min-height: 100vh;
    background: url(./img/img\ couverture.jpg) fixed center/cover;
}

header nav {
    display: flex;
    justify-content: space-between;
    background: var(--black1);
    color: var(--white1);
    width: 100%;
    height: 65px;
    z-index: 100;
  }
header nav img {
    width: 60%;
    padding-left: 5%;
}
header nav ul {
    display: flex;
    align-items: center;
}
li {
    list-style-type: none;
}
header nav a {
    color: var(--white1);
    text-decoration: none;
}
header nav a:hover{
    color: var(--gold);
}
header nav .socialmedia {
    display: flex;
}
header nav .socialmedia li {
    padding: 0 10px;
}

/* // // */
header .nav-left li {
    /* font-family: ; */
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 0.7rem;
    
    align-items: center;
    cursor: pointer;
}
header nav .nav-right {
    /* border: 1px solid red; */
    /* min-width: ; */
    width: 50%;
    justify-content: space-around;
}
header nav .nav-right li {
    transition: 0.15s;
    cursor: pointer;
  }
header nav .nav-right li:hover {
    transform: scale(1.08);
}
header .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    transform: translateY(40px);
    animation: headerAnim 1.5s forwards;
  }
  @keyframes headerAnim {
    to {
      transform: translateY(0);
    }
}
header .header-content h1 {
    /* font-family: ; */
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    letter-spacing: 4px;
}
header .header-content p {
    margin: 40px auto 60px;
    font-style: italic;
}
header .header-content span {
    border: 2px solid var(--white1);
    border-radius: 50px;
    height: 60px;
    width: 60px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .header-content span a {
    color: var(--white1);
}
header .header-content span a:hover {
    color: var(--gold);
}

#section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */
    padding: 40px 0;
}
.section1-container{
    width: 80%;
}
#section1 h1 {
    /* font-family: ; */
    font-size: 3.5em;
    padding-bottom: 40px;
}
#section1 h4 {
    font-size: 1.8em;
    padding-bottom: 20px;
}
article {
    padding: 40px 0;
}
.first-article {
    display: grid;
    grid-template-columns: 40% 60%;
}

#section1 h3 {
    font-size: 2.5em;
    /* text-justify: auto; */
}
#section1 p {
    text-justify: auto;
}
.second-article {
    display: grid;
    grid-template-columns: 60% 40%;
}

#section2 {
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
    border: 3px solid green;
    background-color: var(--black1);
}
#section2 h1{
    text-align: center;
    color: var(--white1);
    font-size: 3.5rem;
    padding: 25px 0;
}

#section2  img {
    height: 400px;
    width: 320px;
}
.img-container {
    border: 2px solid orange;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0px auto 115px;
}
.card:hover{
    cursor: pointer;
    
}
.row1-img{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border:  3px dotted red;
    margin-bottom: 50px;
}
.row2-img{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border:  3px dotted red;
    margin-top: 50px;
}
#section3 {
    padding-bottom: 115px;
}
#section3 h1{
    text-align: center;
    font-size: 3.5rem;
    padding: 25px 0;
}
#section3 .logement-container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 80%;
    margin: 0 auto;
    border: 2px dashed var(--black1);
}
#section3 .img-logement{
    background: url(./img/Hébergments/Bulle01.jpg) center/cover;
    min-height: 350px;
}
#section3 .img-logement:nth-child(3) {
    background: url(./img/Hébergments/cabane\ perchée01.jpg) center/cover;
    min-height: 350px;
}
#section3 .img-logement:nth-child(6){
    background: url(./img/Hébergments/Delta01.jpg) center/cover;
    min-height: 350px;
}
#section3 .img-logement:nth-child(7){
    background: url(./img/Hébergments/logis01.jpg) center/cover;
    min-height: 350px;
}

#section3 .text-logement h4{
    /* font-family: ; */
    text-align: center;
    background-color: var(--black2);
    color: var(--white1);
    text-transform: uppercase;
    font-size: 0.7rem;
    padding: 15px 0;
}
#section3 .text-logement p{
    /* font-family: serif; */
    padding: 15px 0;
}
#section3 .text-logement a {
    text-align: center;
}
#section3 .text-logement button {
    text-transform: uppercase;
    border: none;
    padding: 20px;
    background-color: var(--gold);
    color: var(--white1);
    border-radius: 50px;
}
#section3 .text-logement button:hover{
    cursor: pointer;
    background-color: rgb(194, 128, 69);
}
#section4{
    background-color: var(--black1);
    min-height: 900px;
}
#section4 h1{
    text-align: center;
    font-size: 3.5rem;
    padding: 25px 0;
    color: var(--white1);
    background: var(--black2);
}
#section4 .background-container{
    background: url(./img/kayak\ extrême.jpg) fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
    width: 65%;
    margin: 0 auto;
    position: relative;
}

#section4 .card-comment {
    background: var(--white1);
    padding: 20px;
    border: 1px solid var(--black2);
    max-width: 500px;
}
#section4 .card-comment p {
    text-align: justify;
}
#section4 .card-comment h6 {
    text-align: start;
    color: var(--gold);
}

#section4 #card1-comment{
    position: absolute;
    left: 0%;
    top: 5%;
    z-index: 2;
}
#section4 #card1-comment:before{
    position: absolute;
    z-index: 3;
    background:url(./img/photo01.jpg\ copy.jpg);
}
#section4 #card2-comment{
    position: absolute;
    right: 0%;
    top: 25%;
}


#section4 #card3-comment{
    position: absolute;
    left: 0%;
    top: 45%;
}

#section4 #card4-comment{
    position: absolute;
    right: 0%;
    top: 65%;
}

#section4 #card5-comment{
    position: absolute;
    left: 0%;
    top: 85%;
}